<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. A at assumenda tenetur facere quidem dicta recusandae autem nobis, obcaecati consequatur ipsa cum voluptas nam dolorem quibusdam tempore ea aut eos.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, aut veniam sapiente optio fugit veritatis totam praesentium incidunt impedit quod aperiam, temporibus repellendus corporis ducimus laboriosam mollitia, similique enim alias.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, nostrum? Maxime quis ut deleniti ducimus error ipsam suscipit accusamus. Ad, voluptatum! Saepe quis totam minus? Officia quia commodi debitis provident.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio iste quibusdam enim veniam sint. Praesentium consequatur minus rerum? Tempora sunt fuga voluptas porro? Vitae numquam beatae aut omnis, ab rem.
        <br/>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. At itaque, voluptates placeat ratione saepe autem eos expedita quasi velit dolore libero debitis ipsa nisi quaerat, labore ex obcaecati. Iusto, repellendus.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum quod et nam expedita labore enim numquam qui suscipit assumenda voluptas ducimus, perferendis quae aliquid illum debitis provident ad illo id!
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ea mollitia tempora quos ipsam ratione, error ut veritatis temporibus sunt eum inventore magni cum qui laudantium beatae suscipit quo nihil?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus deserunt minima, alias assumenda reprehenderit voluptate at architecto dolorum atque dolorem consequuntur, ipsum obcaecati aperiam tempora mollitia nostrum corrupti consequatur quia.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero quis autem accusamus, ea, ratione beatae ut, perspiciatis dolor optio pariatur praesentium atque aliquam qui nesciunt quae. Porro quas vitae ex.
        <br/>
    </p>

</div>